{% load static %}  
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.scss' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">


</head>
<body>



    <header>
        <a href="#" class="logo-link">
            <img src="{% static 'images/it-club-logo.png' %}" alt="Logo" class="logo">
        </a>
    </header>
    
 
    
    <div class="spotlight-container">
        <img id="spotlight-image" src="{% static 'images/tech.jpg' %}" alt="Tech Image">
    </div>
 

    <div class="main-container">

        <div class="container">
            <p>UNG IT Club <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
        </div> 
        
        <div class="centered-form">
            <div class="form-container">



                <form action="{% url 'register' %}" method="post" id="myForm">
                    {% csrf_token %}
                    <h2>Ro'yxatdan o'tish</h2>
                    <div class="input-group">
                        <label for="name">Ism:</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="input-group">
                        <label for="surname">Sharif:</label>
                        <input type="text" id="surname" name="surname" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Korporativ pochta manzili:</label>
                        <input type="email" id="email" name="email" pattern=".+@ung\.uz$" placeholder="namuna@ung.uz" required>
                    </div>
                    <div class="input-group">
                        <label for="phone">Telefon raqam:</label>
 
                        <div class="input-wrapper">
                            <span>+998</span>
                            <input type="tel" id="phone" name="phone" pattern="\d{2} \d{3} \d{2} \d{2}" placeholder="XX XXX XX XX" required>
                        </div>

                    </div>
    
                    <button type="submit" class="btn btn-white btn-animate">Yuborish</button>
                </form>


                <a style="position: relative; bottom: 0px;" href="{% url 'login' %}" class="href">
                    Test ishlash
                </a>

                <div id="message-container"></div> <!-- Container for messages -->



            </div>
        </div>
    </div>



</body>
</html>

<script>

//Image parallax effect
    document.addEventListener('DOMContentLoaded', function() {
    const img = document.getElementById('spotlight-image');

    document.addEventListener('mousemove', function(e) {
        const { clientX, clientY } = e;
        const screenWidth = window.innerWidth;
        const screenHeight = window.innerHeight;

        const moveX = (clientX - screenWidth / 2) * 0.05; // Reduced movement
        const moveY = (clientY - screenHeight / 2) * 0.05;
        img.style.transform = `translate(${moveX}px, ${moveY}px) scale(1.1)`;

    });
});



//Auto typing text function
const typedTextSpan = document.querySelector(".typed-text");
const cursorSpan = document.querySelector(".cursor");

const textArray = ["- yangi g'oyalar", "- yangi loyihalar", "- yangi jamoa", "ga hush kelibsiz!"];
const typingDelay = 200;
const erasingDelay = 100;
const newTextDelay = 2000; // Delay between current and next text
let textArrayIndex = 0;
let charIndex = 0;

function type() {
  if (charIndex < textArray[textArrayIndex].length) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
  } 
  else {
    cursorSpan.classList.remove("typing");
  	setTimeout(erase, newTextDelay);
  }
}

function erase() {
	if (charIndex > 0) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
    charIndex--;
    setTimeout(erase, erasingDelay);
  } 
  else {
    cursorSpan.classList.remove("typing");
    textArrayIndex++;
    if(textArrayIndex>=textArray.length) textArrayIndex=0;
    setTimeout(type, typingDelay + 1100);
  }
}

document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
  if(textArray.length) setTimeout(type, newTextDelay + 250);
});



//Phone number check function
const phoneInput = document.getElementById('phone');

phoneInput.addEventListener('input', (event) => {
    let input = event.target.value.replace(/\D/g, ''); // Remove all non-digit characters
    let formattedInput = '';

    // Add spaces after 2 digits, then after 3 digits, then after 2 digits
    if (input.length > 2) {
        formattedInput += input.substring(0, 2) + ' ';
        input = input.substring(2);
    }
    if (input.length > 3) {
        formattedInput += input.substring(0, 3) + ' ';
        input = input.substring(3);
    }
    if (input.length > 2) {
        formattedInput += input.substring(0, 2) + ' ';
        input = input.substring(2);
    }
    formattedInput += input; // Append the rest of the input

    event.target.value = formattedInput.substring(0, 12); // Limit to 12 characters (9 digits plus 3 spaces)
});






//Pop up messages function
document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const formData = new FormData(this);
    const messageContainer = document.getElementById('message-container');


    fetch(this.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
        },
    })
    .then(response => response.json())
    .then(data => {
        let messageClass = data.success ? 'success' : 'error';
        messageContainer.innerHTML = `<p class="${messageClass} message">${data.message}</p>`;
        messageContainer.style.display = 'block';
        if (data.success) {
            document.getElementById('myForm').style.display = 'none';
        }

    })
    .catch(error => {
        console.error('Error during form submission:', error);
        messageContainer.innerHTML = `<p class="error message">An error occurred while submitting the form.</p>`;
        messageContainer.style.display = 'block';


    });
});











</script>
